<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>Anime</title>  
    <meta name="description" content="v0.1.b57a2f7">  
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript">
    </script>
</head>
<body>ok</body>
</html>