<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>Anime</title>  
    <meta name="description" content="v0.1.92efc0a">  
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <style type="text/css">
    .imgSize{
        width:100px;
        border: 0px;
    }
    </style>
    <script type="text/javascript">
    $(document).ready(function(){
        function getSearchFileList(data){
            var result = '';
            for (var i = 0; i < data.fileList.length; i++){
                result += '<tr>';
                result += '<td><input type="checkbox" name="fileCheck" class="checkbox"></td>';
                result += '<td class="fileName">' + data.fileList[i] + '</td>';
                result += '<td><input type="text" name="destination"></td>';
                result += '</tr>';
            }
            $("#searchFileList")[0].innerHTML = result;
        }
        $("table").on('click', "input[id*='selectAid']", function(){
            var list = document.getElementsByName("destination");
            var aid = this.id.substr('selectAid'.length);
            for (var i = 0; i < list.length; i++){
                if ($(".checkbox", list[i].parentNode.parentNode)[0].checked){
                    list[i].value = $(".mainTitle", $(this)[0].parentNode.parentNode)[0].textContent;
                    var zh = $(".zhTitle", $(this)[0].parentNode.parentNode)[0].value;
                    if (zh.length > 0)
                        list[i].value += '_' + zh;
                }
            }
        });
        $("#checkboxAll").change(function(){
            $("input[name*='fileCheck']").prop("checked", $("#checkboxAll")[0].checked);
        });
        $("#generateCommand").click(function(){
            var result = '';
            var list = document.getElementsByName("destination");
            var number = 0;
            for (var i = 0; i < list.length; i++){
                var file = $(".fileName", list[i].parentNode.parentNode)[0].innerText;
                var parent = $("#parentDirectory")[0].value;
                if (parent.charAt(parent.length - 1) != '/'){
                    parent += '/';
                }
                if ($(".checkbox", list[i].parentNode.parentNode)[0].checked){
                    result += 'RNFR ' + file + '\n';
                    result += 'RNTO ' + parent + list[i].value + '/' + file + '\n';
                    number++;
                }
            }
            $("#commandForFtp")[0].innerHTML = result;
            $("#fileNumber")[0].innerHTML = number;
        });
        $("#checkboxAllTV").change(function(){
            var begin = parseInt($("#beginIdx")[0].value);
            var end = parseInt($("#endIdx")[0].value);
            var step = parseInt($("#idxStep")[0].value);
            var counter = step;
            var checkList = $("input[name*='checkTVFolder']");
            if (!$('#checkboxAllTV')[0].checked){
                checkList.prop("checked", $("#checkboxAllTV")[0].checked);
                return;
            }
            if (isNaN(begin) || isNaN(end) || isNaN(step)){
                checkList.prop("checked", $("#checkboxAllTV")[0].checked);
            }
            for (var i = begin-1; i < checkList.length && i+1 <= end; i++){
                counter++;
                if (counter <= step && step > 0){
                    continue;
                }
                counter = 0;
                var number = parseInt($('.checkTVNumber', checkList[i].parentNode.parentNode)[0].textContent);
                if (number == i+1){
                    checkList[i].checked = true;
                }
            }
        });
        function updateTvTree(data){
            if ('error' in data){
                $("#updateTVStatus")[0].innerHTML = '数据获取失败';
                return;
            }
            var result = '';
            for (var i = 0; i < data.list.length; i++){
                result += '<tr>';
                result += '<td class="folderName">' + data.list[i].folder + '</td>';
                result += '<td>' + data.list[i].count + '</td>';
                result += '<td>'
                    + '<input class="btn btn-success" id="tvFolder' + i
                    + '" type="submit" value="查看" data-toggle="modal" data-target="#tvFileModal">'
                    + '</td>';
                result += '</tr>';
            }
            $("#tableTVBody")[0].innerHTML = result;
            $("#updateTVStatus")[0].innerHTML = '共' + data.list.length + '个文件夹';
        }
        $("#quickUpdateTV").click(function(){
            $.getJSON("{% url 'index' %}" + 'Ftp?p=quickTree', function(data){
                updateTvTree(data);
            });
        });
        function getType(){
            var type = 'tv';
            if ($("#folderTypeBD")[0].checked){
                type = 'bd';
            }
            if ($("#folderTypeOVA")[0].checked){
                type = 'ova';
            }
            if ($("#folderTypeMovie")[0].checked){
                type = 'movie';
            }
            return type;
        }
        $("#updateTV").click(function(){
            $("#updateTV")[0].disabled = true;
            $("#updateTVStatus")[0].innerHTML = '更新中，可能耗时较长,请等候...';
            $.getJSON("{% url 'index' %}" + 'Ftp?p=tree&type=' + getType(), function(data){
                updateTvTree(data);
                $("#updateTV")[0].disabled = false;
            });
        });
        $("table").on('click', "input[id*='tvFolder']", function(){
            $("#tableTVFolderFile")[0].innerHTML = '';
            $("#tvFileCount")[0].innerHTML = '查询中...';
            $("#tvCommand")[0].innerHTML = '';
            $("#completeSubDir")[0].value = '';
            $("#completeGroup")[0].value = '';
            $("#checkboxAllTV")[0].checked = false;
            var folder = $('.folderName', this.parentNode.parentNode)[0].textContent;
            $.getJSON("{% url 'index' %}" + 'Ftp?type=' + getType() + '&tv=' + folder, function(data){
                if ('error' in data){
                    $("#tvFileCount")[0].innerHTML = '数据获取失败';
                    return;
                }
                var result = '';
                for (var i = 0; i < data.list.length; i++){
                    result += '<tr>';
                    result += '<td><input type="checkbox" name="checkTVFolder" class="checkbox"></td>';
                    result += '<td class="checkTVNumber">' + (i+1) + '</td>';
                    result += '<td class="fileName">' + data.list[i] + '</td>';
                    result += '</tr>';
                }
                $("#completeSubDir")[0].value = folder;
                if (data.list.length > 0){
                     $("#completeGroup")[0].value = data.list[0].substring(0, data.list[0].indexOf(']') + 1);
                }
                $("#tableTVFolderFile")[0].innerHTML = result;
                $("#tvFileCount")[0].innerHTML = data.list.length;
            });
        });
        $("#buttonSearch").click(function(){
            var text = $("#searchTitle")[0].value;
            if (text.length == 0){
                return;
            }
            $("#buttonSearch")[0].disabled = true;
            $("#buttonSearch")[0].innerHTML = 'wait';
            $.getJSON("{% url 'index' %}" + '?search=' + text, function(data){
                if ('error' in data){
                    $("#aniDBSearch")[0].innerHTML = '数据获取失败';
                    $("#buttonSearch")[0].disabled = false;
                    $("#buttonSearch")[0].innerHTML = 'Search';
                    return;
                }
                var result = '';
                $("#searchResult")[0].innerHTML = 'result for <font style="font-weight:700;">' + text + '</font>';
                for (var i = 0; i < data.aniDBList.length; i++){
                    result += '<tr>';
                    result += '<td class="mainTitle" id="mainTitle">' + data.aniDBList[i].mainTitle + '</td>';
                    result += '<td id="jaTitle">' + data.aniDBList[i].jaTitle + '</td>';
                    result += '<td ><input id="zhTitle" class="zhTitle" value="';
                    if (data.aniDBList[i].zhTitle && data.aniDBList[i].zhTitle.length > 0){
                        result += data.aniDBList[i].zhTitle;
                    }
                    result += '"></td>';
                    result += '<td><a id="aniDBLink" href="http://anidb.net/perl-bin/animedb.pl?show=anime&aid='
                                + data.aniDBList[i].aid + '" target="_blank">';
                    result +=       '<img class="imgSize" src=" {% static "" %}' + data.aniDBList[i].aid + '.jpg">';
                    result +=   '</a>';
                    result += '</td>';
                    result += '<td>';
                    result +=   '<input class="btn btn-default" type="submit" value="选择" id="selectAid'
                                + data.aniDBList[i].aid + '">';
                    result += '</td>';
                    result += '</tr>';
                }
                $("#aniDBSearch")[0].innerHTML = result;
                getSearchFileList(data);
                $("#buttonSearch")[0].disabled = false;
                $("#buttonSearch")[0].innerHTML = 'Search';
            })
        });
        function getGroupName(list){
            for (var i = 0; i < list.length; i++){
                if (list[i].checked){
                    var text = $(".fileName", list[i].parentNode.parentNode)[0].innerText;
                    return text.substring(0, text.indexOf(']') + 1);
                }
            }
        };
        function getDate(){
            var date = new Date();
            result = '';
            if (date.getMonth() + 1 < 10){
                result += '0';
            }
            result += date.getMonth() + 1;
            result += '.';
            if (date.getDate() < 10){
                result += '0'
            }
            result += date.getDate();
            return result;
        }
        $("#Complete").click(function(){
            var number = 0;
            var list = document.getElementsByName("checkTVFolder");
            var group = getGroupName(list);
            $("#completeGroup")[0].value = group;
            var type = getType();
            if (type != 'tv'){
                if (type == 'bd'){
                    type += 'rip';
                }
                type = '【' + type.toUpperCase() + '】';
            }
            else{
                type = '';
            }
            var parent = $("#completeDir")[0].value + '[' + getDate() + ']' + type + $("#completeSubDir")[0].value + $("#completeGroup")[0].value;
            var result = 'MKD ' + parent + '\n';
            $("#checkboxAllTV")[0].checked = false;
            for (var i = 0; i < list.length; i++){
                if (list[i].checked){
                    var file = $(".fileName", list[i].parentNode.parentNode)[0].innerText;
                    result += 'RNFR ' + file + '\n';
                    result += 'RNTO ' + parent + '/' + file + '\n';
                    list[i].checked = false;
                    number++;
                }
            }
            $("#tvCommand")[0].innerHTML = '<div>共有' + number + '个文件</div>'
                +'<textarea class="form-control" rows="20" spellcheck="false" wrap="off">'
                + result + '</textarea>';
        });
    });
    </script>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="http://m-p.sakura.ne.jp/" target="_blank">
                <img src="{% static "moontitle.jpg" %}">
            </a>
        </div>
        <div class="col-md-3">
            <a href="http://bangumi.tv/" target="_blank">
                <img src="{% static "bangumi.JPG" %}">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://movie.douban.com/" target="_blank">
                <img src="{% static "douban.jpg" %}">
            </a>
        </div>
        <div class="col-md-3">
            <a href="http://cal.syoboi.jp/" target="_blank">
                <img src="{% static "calendar.jpg" %}">
            </a>
        </div>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" name="searchTitle" id="searchTitle" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit" id="buttonSearch">Search</button>
        <a class="btn btn-default" href="{% url 'index' %}">返回</a>
      </span>
    </div>
    <p id="searchResult"></p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>main title</th>
                <th>ja title</th>
                <th>zh title</th>
                <th>aniDB link</th>
            </tr>
        </thead>
        <tbody id="aniDBSearch"></tbody>
    </table>
    <p></p>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tabIncoming" aria-controls="tabIncoming" role="tab" data-toggle="tab">Incoming</a>
        </li>
        <li role="presentation">
            <a href="#tabTV" aria-controls="tabTV" role="tab" data-toggle="tab">TV</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tabIncoming">
            <div class="row">
                <div class="col-md-1">
                    <input class="btn btn-primary" id="generateCommand" type="submit" value="决定" data-toggle="modal" data-target="#commandModal">
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">父目录</span>
                        <input type="text" class="form-control" id="parentDirectory">
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkboxAll" value="#">
                        </th>
                        <th>file name</th>
                        <th>destination</th>
                    </tr>
                </thead>
                <tbody id="searchFileList">
                    {% for item in fileList %}
                    <tr>
                        <td><input type="checkbox" name="fileCheck" class="checkbox"></td>
                        <td class="fileName">{{ item }}</td>
                        <td><input type="text" name="destination"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="tabTV">
            <div class="row">
                <div class="col-md-1">
                    <input class="btn btn-success" id="updateTV" type="submit" value="更新">
                </div>
                <div class="col-md-2">
                    <input class="btn btn-primary" id="quickUpdateTV" type="submit" value="快速更新">
                </div>
                <div class="col-md-3">
                    <span id="updateTVStatus"></span>
                </div>
                <div class="col-md-4">
                    <label class="radio-inline">
                        <input type="radio" name="folderType" id="folderTypeTV" value="TVrip" checked>TVrip
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="folderType" id="folderTypeBD" value="BDrip">BDrip
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="folderType" id="folderTypeOVA" value="OVA">OVA
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="folderType" id="folderTypeMovie" value="Movie">Movie
                    </label>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>folder name</th>
                        <th>file count</th>
                        <th>operate</th>
                    </tr>
                </thead>
                <tbody id="tableTVBody"></tbody>
            </table>
        </div>
    </div>
    </div>
    <div id="tvFileModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>总文件数<span id="tvFileCount">查询中...</span></h2>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <button id="Complete" class="btn btn-primary">完结</button>
                    </div>
                    <div class="col-md-3">
                        <span class="input-group-addon" id="basic-addon1">父目录</span>
                        <input type="text" class="form-control" id="completeDir" value="/animesub/completed/">
                    </div>
                    <div class="col-md-4">
                        <span class="input-group-addon" id="basic-addon1">子目录</span>
                        <input type="text" class="form-control" id="completeSubDir">
                    </div>
                    <div class="col-md-3">
                        <span class="input-group-addon" id="basic-addon1">字幕组</span>
                        <input type="text" class="form-control" id="completeGroup">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <span class="input-group-addon">多选起始编号</span>
                        <input type="text" class="form-control" id="beginIdx" value="1">
                    </div>
                    <div class="col-md-3">
                        <span class="input-group-addon">间隔</span>
                        <input type="text" class="form-control" id="idxStep" value="0">
                    </div>
                    <div class="col-md-3">
                        <span class="input-group-addon">结束编号</span>
                        <input type="text" class="form-control" id="endIdx" value="13">
                    </div>
                </div>
                <div class="modal-body">
                    <div id="tvCommand"></div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="checkboxAllTV" value="#">
                                </th>
                                <th>number</th>
                                <th>file name</th>
                            </tr>
                        </thead>
                        <tbody id="tableTVFolderFile"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="commandModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Ftp 命令 文件数<span id="fileNumber"></span></h2>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="commandForFtp" rows="20" spellcheck="false" wrap="off"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>